[submodule "source/bitbake"]
	path = source/bitbake
	url = git://git.openembedded.org/bitbake
[submodule "source/meta-openembedded"]
	path = source/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "source/openembedded-core"]
	path = source/openembedded-core
	url = git://git.openembedded.org/openembedded-core
[submodule "source/meta-raspberrypi"]
	path = source/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
